@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.main-profile {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 0 0;
    padding: 0 0 2rem 0;
    @include mobile-only {
        flex-direction: column;
        margin: 2rem 0 0 0;
    }
}

#error-message {
    display: flex;
}

.profile {
    width: 35%;
    height: auto;
    padding: 0 0 2rem 0;
    background-color: #ffd7d7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @include mobile-only {
        width: 100%;
        border-radius: 0;
    }
    @include tablet-only {
        width: 40%;
    }
    &__title {
        width: 85%;
        font-size: 1.6rem;
        margin: 1rem 0 0.2rem 0;
    }
    &__content {
        width: 70%;
        height: auto;
        box-shadow: 3px 3px 5px #e0bebe;
        border-radius: 0.5rem;
        background-color: #fff;
        padding: 2%;
    }
}

.profile-input {
    width: 60%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 2px solid #ffd7d7;
    font-family: 'Raleway', sans-serif, Arial;
    &:focus, :active {
        border: 2px solid #fd2d01;
        border-radius: 0.5rem;
        outline: none;
    }
}

.option-confirmation {
    display: flex;
    gap: 1rem;
    width: 70%;
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: column;
    &__text {
        width: 90%;
    }
    &__btn {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

.profile-btn {
    @include btn-style(main-btn);
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        @include after-style(after-btn);
        background: $btn-after-background;
    }
}


.profile-aside {
    width: 35%;
    height: auto;
    padding: 0 0 5rem 0;
    background-color: #ffd7d7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-only {
        width: 100%;
        border-radius: 0;
        margin:  3rem 0 0 0;
    }
    @include tablet-only {
        width: 40%;
    }
    &__title {
        width: 85%;
        font-size: 1.6rem;
    }
    &__list {
        list-style-type: none;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 1rem;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }
}

.search-user-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item {
    width: 90%;
    height: auto;
    box-shadow: 3px 3px 5px #e0bebe;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 2%;
    animation: appear 2s 100ms cubic-bezier(.21,1.05,.31,.92);
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 250ms * $i;
        }
    }
}

@keyframes appear {
    from {
        transform: translateY(6rem);
        opacity: .2;
    }
    to {
        transform: translateY(0);
    }
}