<header class="header">
    <img class="header__img" src="../../assets/logo.png" alt="Le logo de l'entreprise">
    <p class="header__text" *ngIf="isAdmin === 1">Administrateur</p>
    <nav class="header__nav">
        <a class="nav__item nav__item-menu" [routerLink]="['/home']" title="Accueil">Accueil</a>
        <a class="nav__item nav__item-menu" [routerLink]="['/profile']" title="Profil">Profil</a>
        <a class="nav__item nav__item-logout" (click)="onClickLogout()" title="Déconnexion">Déconnexion</a>
    </nav>
</header>
<h1>Partagez et restez en contact avec vos collègues</h1>
