@mixin tablet-only {
    @media screen and (min-width: 600px) and (max-width: 999px){
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: 599px){
        @content;
    }
}

@mixin btn-style($name) {
    $style: map-get($btn-style, $name);
    width: map-get($style, width);
    height: map-get($style, height);
    border-radius: map-get($style, border-radius);
    background-color: map-get($style, background-color);
    border: map-get($style, border);
    font-size: map-get($style, font-size);
    display: map-get($style, display);
    justify-content: map-get($style, justify-content);
    align-items: map-get($style, align-items);
    position: map-get($style, position);
    z-index: map-get($style, z-index);
    cursor: map-get($style, cursor);
    text-decoration: map-get($style, text-decoration);
}

@mixin after-style($name) {
    $style: map-get($after-style, $name);
    content: map-get($style, after-content);
    position: map-get($style, position);
    top: map-get($style, pos-top);
    right: map-get($style, pos-right);
    bottom: map-get($style, pos-bottom);
    left: map-get($style, pos-left);
    display: map-get($style, display);
    justify-content: map-get($style, justify-content);
    align-items: map-get($style, align-items);
    border-radius: map-get($style, border-radius);
    width: map-get($style, width);
    opacity: map-get($style, opacity);
    z-index: map-get($style, z-index);
    transition: map-get($style, transition);
}
